*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f9f5ed;
}
nav{
    margin: ;
    padding: 10% 15%;
    height: 15vh;
}
nav ul{
    display:flex;
    align-items:center;
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 700;
}
nav ul li img{
    width: 100px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;

}
.Leftbody{
    width: 40%;
}
.Leftbody h1{
    font-size: 70px;
}
.Leftbody p{
    font-size: larger;
    font-weight: 200;
    margin-top: 5%;
}
.Leftbody button{
    padding: 20px;
    font-size: 10 px;
    color:white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    margin-top: 5%;

}




