*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    

}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}
nav img {
    width: 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style:none;
    margin-right: 50px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
.homebutton a{
    color: #20bc7e;
    font-weight: 700;
}

main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.hospital_description{
    width: 50%;
    text-align: center;
}
.hospital_description h1{
    margin-bottom: 20px;
    color:#20bc7e;
    font-size: 57px;
    font-weight: 700;
}
.hospital_description p {
    font-size: 20px;
    font-weight: 400;
}

.achievement{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.achievementCard{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.achievementCard span{
    font-size: 30px;
    font-weight: 700;
    color: #20bc7e;
}
.achievementCard p{
    font-size: 20px;
    font-weight:500;
   
}